WIRO_API_KEY=your-api-key-here
WIRO_API_SECRET=your-api-secret-here


bg muzik haric hepsi ve dahasi var

-> http://clipmatic.video
-> satin al diyorsunuz
-> odeme ekraninda kod: bedava100
-> windows/mac icin indiriyorsunuz
-> shorts, normal video, caption, voiceover, imagw/video, thumbnail vs her sey hazir
-> @WiroAI 'dan api'nizi alip tanimliyorsunuz
-> ne istediginizi nasil istediginiz tanimliyorsunuz
-> video hazir.
